* {
    box-sizing: border-box;
    list-style-type: none;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: azure;
    text-align: center;
}
button#contact-me-btn {
    background-color: bisque;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
nav {
    background-color: blanchedalmond;
    float: left;

    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;
    top: 0;
    width: 240px;
    z-index: 1;
}
article.about-me {
    position: relative;
    /* left: 240px; */
    background-color: aquamarine;
}